h1, h2, h3, p, body, div {
    font-family: Tahoma, Helvetica, sans-serif;
    margin: 0;
    padding: 15px;
    text-align: justify;
    }
    
    h1 {
    font-size: 1.8em;
    margin: 0.25em 0 0.25em 0;
    }
    h2 {   
    font-size: 1.2em;
    margin: 0.5em 0 0.25em 0;
    }
    p, body {
    font-size: 0.9em;
    
    }
    p {
    margin-bottom: 1em;
    }
    body {
    background-color: white;
    }
    
    article {
    background-color: #F5F5F5;
    }
    
    figure {
        float: left;
    
    }
    figcaption {
    width: 140px;
    background-color: black;
    color:white;
    height: 20px;
    
    }
    .overlayed {
    
    }
    
    .entry {
    overflow: auto;
    border-top: 1pt solid #15ff00;
    }
    
    .linkbutton {
    background-color: #48ff00;
    color: white;
    text-decoration: none;
    font-size: 0.75em;   
    }
    
    
    footer {
    background-color: #313133;
    color: #cacaca;
    }
    footer h2 { color: #a4a1a1; }   
    .footer-related {
    border-top: 1pt solid #15ff00;
    }
    .footer-section{
    
    border-top: 1pt solid #2bff00;
    }
    .footer-related img { margin: 3px; }
    
    